# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env
.env.*

# Node
node_modules/
dist/
build/

# Vite
.vite/

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/